.feature{
    padding: 30px 150px;
}

.feature-title{
    margin-bottom: 25px;
}

.feature-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.button-master{
    padding: 0 0 10px;
    color: var(--light-accent);
    position: relative;
    transition: .5s;
}

.button-master:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--accent);
    bottom: 0;
    left: 50%;
    transition: width .3s ease-in-out;
    transform: translate(-50%, 0);
}

.button-master:not(:last-child){
    margin-right: 40px;
}

.button-master:hover::after{
    width: 40px;
}

.button-master:hover{
    color: var(--accent);
}

.text-g {
    color: var(--light-accent);
}

.feature-cases{
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    position: relative;
}

.feature-case{
    position: relative;
}

.feature-case-img{
    width: 100%;
    margin-bottom: 14px;
}

.latest-case-like{
    position: absolute;
    top: 9px;
    right: 7px;
}

.latest-case-like:hover{
    transform: scale(1.1);
    transition: 1s;
}

.feature-case-content{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 14px;
}

.feature-text{
    font-size: 20px;
    line-height: 30px;
}

.feature-price{
    font-size: 24px;
    line-height: 38px;
}

.case-colors{
    display: flex;
}

.btn-color{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-blue{
    background-color: #2091F9;
}

.color-green{
    background-color: #2DC071;
}

.color-orange{
    background-color: #E77C40;
}

.color-black{
    background-color: #000;
}

.btn-color:not(:last-child){
    margin-right: 8px;
}

.case-sizes{
    display: flex;
}

.btn-size{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 29px;
    width: 34px;
    border: 1px solid #E4E4E4;
    background-color: transparent;
}

.btn-size:not(:last-child){
    margin-right: 14px;
}

.btn-size:hover{
    border: 2px solid var(--accent);
}
