.footer{
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 100px;
    background-color: var(--bcg-dark2);
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-nav-item:not(:last-child){
    margin-right: 41px;
}

.footer-nav-item{
    color: var(--light-accent);
}

.footer-nav-item:hover{
    color: var(--white);
    text-decoration: underline;
}

.footer-socials{
    display: flex;
}

.footer-social:not(:last-child){
    margin-right: 25px;
}

.footer-social:hover{
    transition: .5s;
    transform: scale(1.1);
}

@media (max-width: 1140px) {
    .footer{
        flex-direction: column;
    }
}

@media (max-width: 980px){
    .footer{
        padding: 40px 50px;
    }
}

@media (max-width: 880px) {
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-nav{
        flex-direction: column;
    }

    .footer-nav-item:not(:last-child) {
        margin: 0 0 20px 0;
    }

    .footer-socials {
        flex-direction: column;
    }

    .footer-social:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 450px){
    .footer {
        flex-direction: column;
    }

    .footer-nav{
        flex-direction: column;
    }

    .footer-nav-item {
        margin: 0 0 20px 0;
    }

    .footer-socials {
        flex-direction: row;
    }

    .footer-social:not(:last-child) {
        margin: 0 20px 0 0;
    }
}
