@import "_base.css";
@import "_vars.css";

@import "HomePage.css";
@import "Producrs.css";
@import "Feature.css";
@import "Latest.css";
@import "OurBlog.css";
@import "Carousel.css";
@import "Footer.css";

.title{
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1150px) {
  .products, .feature, .latest, .our-blog, .carousel {
    padding: 50px 100px;
  }

  .products{
    grid-gap: 15px;
  }

  .our-blog-cases {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 740px) {
  .carousel {
    padding: 50px 50px;
  }

  .products{
    grid-template-columns: repeat(2, 1fr);
  }

  .product-item:nth-child(2){
    align-items: center;
  }
}

@media (max-width: 600px){
  .carousel-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .products{
    padding: 20px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 220px);
    row-gap: 30px;
  }

  .product-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 3/5;
  }
}

@media (max-width: 480px) {
  .feature, .latest, .carousel{
    padding: 40px 16px;
  }

  .carousel-cases {
    grid-template-columns: 1fr;
  }

  .carousel-cases > .carousel-case:not(:first-child) {
    display: none;
  }

  .our-blog{
    padding: 40px 50px;
  }
}

@media (max-width: 320px) {
  .feature-case-img{
    margin-bottom: 0;
  }

  .feature-case-content{
    position: absolute;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    min-width: 242px;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(228, 228, 228, 0.5);
  }

  .feature-case:hover .feature-case-content{
    display: grid;
  }
}
