*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}

.grid{
    display: grid;
}

.title{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}




.feature{
    min-height: 850px;
    display: flex;
    padding: 30px 170px;
    flex-flow: column wrap;
}

.feature-title{
    margin-bottom: 25px;
}

.feature-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.button-master{
    padding: 0 0 10px;
    color: var(--grey);
}

.button-master:not(:last-child){
    margin-right: 36px;
}

.button-master:hover{
    color: var(--blue);

}

.text-g {
    color: var(--grey);
}


/*FEATURE*/
.feature-cases{
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    grid-auto-rows: max-content;
    grid-gap: 40px;
    justify-items: center;
    position: relative;
}

.feature-case{
    position: relative;
}

.feature-case-img{
    margin-bottom: 14px;
}

.latest-case-like{
    position: absolute;
    top: 9px;
    right: 7px;
}

.latest-case-like:hover{
    transform: scale(1.1);
    transition: 1s;
}

.feature-case-content{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 14px;
}

.feature-text{
    font-size: 20px;
    line-height: 30px;
}

.feature-price{
    font-size: 24px;
    line-height: 38px;
}

.case-colors{
    display: flex;
}

.color{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-blue{
    background-color: #2091F9;
}

.color-green{
    background-color: #2DC071;
}

.color-orange{
    background-color: #E77C40;
}

.color-black{
    background-color: #000;
}

.color:not(:last-child){
    margin-right: 8px;
}

.case-sizes{
    display: flex;
}

.size{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 29px;
    width: 34px;
    border: 1px solid #E4E4E4;
    background-color: transparent;
}

.size:not(:last-child){
    margin-right: 14px;
}

.size:hover{
    border: 2px solid var(--blue);
}





/* LATEST */
.latest{
    min-height: 950px;
    padding: 80px 180px;
    display: flex;
    flex-direction: column;
}

.latest-title{
    margin-bottom: 60px;
}

.latest-cases{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 40px 50px;
    justify-items: center;
}

.latest-case{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    position: relative;
}

.latest-case-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.latest-case-price{
    font-size: 16px;
    line-height: 28px;
}


@media (max-width: 780px) {
    .feature{


    }
}

@media (max-width: 320px) {
    .feature-img{
        margin-bottom: 0;
    }

    .feature-case-content{
        position: absolute;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        min-width: 242px;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }

    .feature-img:hover+.feature-view-content{
        visibility: visible;
        background-color: rgba(228, 228, 228, 0.5);
    }
}