@import "mixins";

// Иконочные шрифры //
@import "icons";

// Шрифт по умолчанию //
$fontFamily: "Montserrat";
$fontSize: 16;

// Переменные //
$minWidth: 320px;
$maxWidth: 1440;                                  // Ширина всего макета
$maxWidthContainer: 1310;                         // Ширина основной части +30
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$accent: #2091f9;
$white: #fff;
$light: #FFF8F8;
$black: #000;
$bcg-dark: #313958;
$bcg-dark2: #252B42;
$light-accent: #737373;

$mainColor: #252B42;

// Обнуление, общие параметры //
@import "null";
body {
  color: $mainColor;
  font-family: $fontFamily;
  font-size: $fontSize+px;

  &._lock {
    overflow: hidden;
  }
}

// Оболочка //
.wrapper {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}

// Основеая сетка //
._container {
  padding: 0 15px;
  margin: 0 auto;
}

// Шрифры //
@import "fonts";

// Общие стили //
@import "ui";

// отдельные блоки //
@import "header";
@import "home-page";
@import "producrs";
@import "feature";
@import "latest";
@import "our-blog";
@import "carousel";
@import "footer";
